In [3]:
import pandas as pd
from ast import literal_eval

In [2]:

left_meme_tokens = pd.read_csv("left-meme-724-tokens.csv",converters={'comment':literal_eval})

In [3]:
right_meme_tokens = pd.read_csv("right-meme-1050-tokens.csv",converters={'comment':literal_eval})

In [4]:
#left gang

progressive = pd.read_csv("progressive-2k-tokens.csv",converters={'comment':literal_eval})
socialism = pd.read_csv("socialism-2k-tokens.csv",converters={'comment':literal_eval})
liberal = pd.read_csv("liberal-2k-tokens.csv",converters={'comment':literal_eval})
democrat = pd.read_csv("democrat-2k-tokens.csv",converters={'comment':literal_eval})

In [5]:
#right gang

republic = pd.read_csv("republic-2k-toekns.csv",converters={'comment':literal_eval})
conv_small = pd.read_csv("conservative-small-2k-toekns.csv",converters={'comment':literal_eval})
conv_big = pd.read_csv("conservative-big-2k-toekns.csv",converters={'comment':literal_eval})

In [6]:
#left_meme_tokens
left_meme_5_word = []
for comment in left_meme_tokens["comment"]:
    if "" in comment:
            comment.remove("")
    if(len(comment)) >= 5:
        if(len(comment)) <= 30:
            left_meme_5_word.append(str(comment))
        

        
df_left_meme_5_word = pd.DataFrame(left_meme_5_word,columns= ["comment"])

In [7]:
#left_meme_tokens
right_meme_5_word = []
for comment in right_meme_tokens["comment"]:
    if "" in comment:
        comment.remove("")
    if(len(comment)) >= 5:
        if(len(comment)) <= 30:
            right_meme_5_word.append(str(comment))

        
df_right_meme_5_word = pd.DataFrame(right_meme_5_word,columns= ["comment"])

In [8]:
df_right_meme_5_word

                                               comment
0    ['im', 'really', 'glad', 'trump', 'leave', 'st...
1    ['war', 'crime', 'sexy', 'ab', 'could', 'man',...
2    ['mean', 'kid', 'kill', 'miss', 'month', 'didn...
3    ['suck', 'didnt', 'win', 'lucky', 'u', 'wont',...
4    ['brings', 'philosophical', 'question', 'gay',...
..                                                 ...
706  ['like', 'mentos', 'coke', 'always', 'bad', 't...
707       ['gonna', 'lie', 'thats', 'ballin', 'shirt']
708  ['medium', 'praise', 'bash', 'trump', 'pose', ...
709  ['im', 'try', 'best', 'rally', 'every', 'ameri...
710  ['road', 'crappy', 'full', 'pot', 'hole', 'upd...

[711 rows x 1 columns]

In [9]:
df_left_meme_5_word

                                               comment
0    ['part', 'food', 'supply', 'embargos', 'trade'...
1    ['endorse', 'idk', 'certainly', 'expose', 'bul...
2    ['could', 'anyone', 'see', 'vote', 'republican...
3    ['childcare', 'number', 'one', 'thing', 'preve...
4    ['washington', 'also', 'mandate', 'smallpox', ...
..                                                 ...
497  ['like', 'month', 'probably', 'shouldve', 'pos...
498  ['damn', 'right', 'vigilance', 'always', 'ever...
499  ['melania', 'fly', 'maralago', 'government', '...
500  ['twitter', 'really', 'beld', 'liable', 'add',...
501  ['man', 'youve', 'sharpen', 'thing', 'wait', '...

[502 rows x 1 columns]

In [10]:
#left gang

progressive_list = []
for comment in progressive["comment"]:
    if "" in comment:
            comment.remove("")
    if(len(comment)) >= 5:
        if(len(comment)) <= 30:
            progressive_list.append(str(comment))

        
df_progressive = pd.DataFrame(progressive_list,columns= ["comment"])


socialism_list = []
for comment in socialism["comment"]:
    if "" in comment:
            comment.remove("")
    if(len(comment)) >= 5:
        if(len(comment)) <= 30:
            socialism_list.append(str(comment))

        
df_socialism = pd.DataFrame(socialism_list,columns= ["comment"])

liberal_list = []
for comment in liberal["comment"]:
    if "" in comment:
            comment.remove("")
    if(len(comment)) >= 5:
        if(len(comment)) <= 30:
            liberal_list.append(str(comment))

        
df_liberal = pd.DataFrame(liberal_list,columns= ["comment"])

democrat_list = []
for comment in democrat["comment"]:
    if "" in comment:
            comment.remove("")
    if(len(comment)) >= 5:
        if(len(comment)) <= 30:
            democrat_list.append(str(comment))

        
df_democrat = pd.DataFrame(democrat_list,columns= ["comment"])

In [11]:
df_progressive

                                                comment
0     ['little', 'late', 'opinion', 'spend', 'lifeti...
1     ['poor', 'man', 'idea', 'rich', 'man', 'stupid...
2     ['yes', 'fbi', 'guy', 'want', 'actually', 'any...
3     ['prison', 'stock', 'thats', 'one', 'bad', 'ph...
4     ['let', 'squeal', 'doesnt', 'matter', 'jan', '...
...                                                 ...
1577  ['illuminate', 'article', 'exactly', 'south', ...
1578  ['holy', 'fuck', 'give', 'people', 'money', 'h...
1579  ['else', 'massively', 'fucked', 'unemployment'...
1580  ['amaze', 'news', 'time', 'make', 'stimulus', ...
1581  ['trouble', 'paywall', 'try', 'link', 'opinion...

[1582 rows x 1 columns]

In [12]:
df_socialism

                                                comment
0     ['thats', 'strange', 'hill', 'school', 'die', ...
1     ['cant', 'pay', 'worker', 'drop', 'million', '...
2     ['watch', 'live', 'stream', 'literally', 'mome...
3     ['competition', 'desperate', 'enough', 'absolu...
4     ['poor', 'complain', 'inequality', 'say', 'bit...
...                                                 ...
1523  ['yeah', 'covid', 'remember', 'personally', 'i...
1524  ['local', 'strike', 'danny', 'come', 'walked',...
1525  ['funny', 'would', 'still', 'take', 'equal', '...
1526  ['felt', 'mess', 'remember', 'garbage', 'bin',...
1527  ['need', 'vigilant', 'right', 'real', 'risk', ...

[1528 rows x 1 columns]

In [13]:
df_liberal

                                                comment
0     ['wore', 'jacket', 'say', 'really', 'dont', 'c...
1     ['need', 'question', 'police', 'social', 'medi...
2        ['trump', 'project', 'win', 'state', 'denial']
3     ['everyone', 'house', 'senate', 'demand', 'res...
4     ['like', 'game', 'throne', 'violent', 'show', ...
...                                                 ...
1534  ['yeah', 'im', 'sorry', 'people', 'im', 'one',...
1535  ['guys', 'little', 'conservative', 'gal', 'ins...
1536  ['well', 'headline', 'seem', 'bust', 'accord',...
1537  ['call', 'trump', 'vaccine', 'although', 'funn...
1538  ['democratic', 'party', 'already', 'right', 'c...

[1539 rows x 1 columns]

In [14]:
df_democrat

                                                comment
0     ['mcconnell', 'block', 'merrick', 'garland', '...
1     ['dems', 'actually', 'whoop', 'ass', 'let', 'k...
2     ['texas', 'turn', 'blue', 'year', 'stay', 'blu...
3          ['lol', 'figure', 'stupid', 'one', 'person']
4     ['yep', 'group', 'friends', 'love', 'much', 't...
...                                                 ...
1679  ['jewish', 'guy', 'back', 'start', 'fire', 'sp...
1680  ['fair', 'know', 'trump', 'didnt', 'money', 'p...
1681  ['imo', 'democrat', 'need', 'go', 'nuclear', '...
1682  ['like', 'republican', 'base', 'long', 'term',...
1683  ['bad', 'man', 'deign', 'sign', 'bible', 'pers...

[1684 rows x 1 columns]

In [15]:
#right gang

republic_list = []
for comment in republic["comment"]:
    if "" in comment:
            comment.remove("")
    if(len(comment)) >= 5:
        if(len(comment)) <= 30:
            republic_list.append(str(comment))

        
df_republic = pd.DataFrame(republic_list,columns= ["comment"])


conv_small_list = []
for comment in conv_small["comment"]:
    if "" in comment:
            comment.remove("")
    if(len(comment)) >= 5:
        if(len(comment)) <= 30:
            conv_small_list.append(str(comment))

        
df_conv_small = pd.DataFrame(conv_small_list,columns= ["comment"])

conv_big_list = []
for comment in conv_big["comment"]:
    if "" in comment:
            comment.remove("")
    if(len(comment)) >= 5:
        if(len(comment)) <= 30:
            conv_big_list.append(str(comment))

        
df_conv_big = pd.DataFrame(conv_big_list,columns= ["comment"])

In [16]:
df_republic

                                                comment
0     ['break', 'news', 'amy', 'coneybarrett', 'say'...
1     ['since', 'amy', 'coney', 'barrett', 'alive', ...
2     ['letter', 'literally', 'one', 'despicable', '...
3     ['rnews', 'rreddit', 'rchristianity', 'pretty'...
4     ['gay', 'havent', 'lose', 'right', 'yet', 'im'...
...                                                 ...
1701  ['wait', 'im', 'confuse', 'trump', 'diabolical...
1702  ['knife', 'fight', 'normal', 'healthy', 'teena...
1703  ['wisconsin', 'resident', 'frustrate', 'place'...
1704  ['im', 'scar', 'think', 'ok', 'shoot', 'kill',...
1705  ['weekend', 'bernies', 'image', 'would', 'accu...

[1706 rows x 1 columns]

In [17]:
df_conv_small

                                                comment
0           ['prop', 'lady', 'stand', 'salute', 'flag']
1     ['reddit', 'mostly', 'libtards', 'dont', 'disc...
2     ['people', 'tell', 'youre', 'racist', 'last', ...
3     ['something', 'something', 'private', 'company...
4     ['see', 'happens', 'stop', 'teach', 'history',...
...                                                 ...
1712  ['yeah', 'look', 'local', 'city', 'stats', 'en...
1713  ['unfortunately', 'trump', 'impeach', 'uncover...
1714  ['support', 'watch', 'olympics', 'event', 'far...
1715  ['he', 'right', 'one', 'useful', 'idiot', 'ive...
1716  ['hire', 'woman', 'use', 'work', 'plan', 'pare...

[1717 rows x 1 columns]

In [18]:
# sampling data to create our final sets

df_right_meme_500 = df_right_meme_5_word.sample(n=500)
df_left_meme_500 = df_left_meme_5_word.sample(n=500)

#left gang

df_progressive_125 = df_progressive.sample(n=125)
df_socialism_125 = df_socialism.sample(n=125)
df_liberal_125 = df_liberal.sample(n=125)
df_democrat_125 = df_democrat.sample(n=125)

#right gang

df_conv_big_167 = df_conv_big.sample(n=167)
df_republic_167 = df_republic.sample(n=167)
df_conv_small_166 = df_conv_small.sample(n=166)

In [19]:
df_conv_big

                                                comment
0     ['welp', 'look', 'like', 'time', 'nice', 'nigh...
1     ['imagine', 'everything', 'say', 'trump', 'tru...
2     ['fuck', 'outrage', 'government', 'manage', 'p...
3     ['impeach', 'twice', 'didnt', 'even', 'get', '...
4     ['choice', 'wish', 'success', 'form', 'well', ...
...                                                 ...
1688  ['seem', 'like', 'heard', 'story', 'cant', 're...
1689  ['funny', 'like', 'one', 'trump', 'covid', 'pl...
1690  ['consider', 'mlbs', 'blm', 'pander', 'last', ...
1691  ['im', 'surprise', 'kkk', 'hadnt', 'designate'...
1692  ['dont', 'like', 'genocide', 'china', 'make', ...

[1693 rows x 1 columns]

In [20]:
df_left = pd.concat([df_progressive_125, df_socialism_125,df_liberal_125,df_democrat_125 ])

In [21]:
df_right = pd.concat([df_conv_big_167,df_republic_167,df_conv_small_166])

In [22]:
df_right.to_csv("final-500-right-comments.csv")
df_left.to_csv("final-500-left-comments.csv")
df_right_meme_500.to_csv("final-500-right-meme-comments.csv")
df_left_meme_500.to_csv("final-500-left-meme-comments.csv")

In [1]:
import pandas as pd

In [5]:
df_right = pd.read_csv("final-500-right-comments.csv",converters={'comment':literal_eval})
df_left = pd.read_csv("final-500-left-comments.csv",converters={'comment':literal_eval})
df_right_meme_500 = pd.read_csv("final-500-right-meme-comments.csv",converters={'comment':literal_eval})
df_left_meme_500 = pd.read_csv("final-500-left-meme-comments.csv",converters={'comment':literal_eval})

In [13]:
comm_list = []
for comment in df_left_meme_500["comment"]:
    dic = {}
    dic["comment"] = ' '.join(comment)
    comm_list.append(dic)
df_left_meme_string = pd.DataFrame(comm_list)

In [14]:
df_right

     Unnamed: 0                                            comment
0           174  [fuck, money, covid, relief, go, country, fuck...
1          1354  [imagine, many, could, scare, away, recognize,...
2           256  [literally, fact, check, ive, see, go, right, ...
3          1447  [im, glad, money, work, hard, get, taxed, go, ...
4          1390  [unfortunately, happen, little, guy, suffer, p...
..          ...                                                ...
495         776  [someone, produce, vaccine, card, know, really...
496         588                     [im, hop, teacher, fire, well]
497        1686      [help, create, virus, he, try, save, u, lock]
498         172  [well, thats, calm, measure, response, make, h...
499         256                   [funny, cuz, laugh, child, cage]

[500 rows x 2 columns]

In [15]:
df_right_string

                                               comment
0     fuck money covid relief go country fuck a violin
1    imagine many could scare away recognize consti...
2    literally fact check ive see go right end say ...
3    im glad money work hard get taxed go terroists...
4    unfortunately happen little guy suffer park ra...
..                                                 ...
495  someone produce vaccine card know really card ...
496                           im hop teacher fire well
497               help create virus he try save u lock
498  well thats calm measure response make harvard ...
499                         funny cuz laugh child cage

[500 rows x 1 columns]

In [16]:
df_left

     Unnamed: 0                                            comment
0          1482  [go, like, bank, commit, fraud, money, launder...
1           785     [fact, people, vote, human, ball, phlegm, sad]
2           535  [good, sick, hearing, founder, u, notorious, t...
3           916  [really, hope, smart, enough, raise, number, j...
4          1311  [trumpistas, guy, one, bad, rot, prison, mrdejoy]
..          ...                                                ...
495         356  [take, year, serious, change, make, make, perm...
496         944  [surprising, worship, hitler, give, condition,...
497         947  [masterclass, trumpet, gaetz, get, investigate...
498         640  [think, need, limit, military, training, polic...
499        1221  [trump, say, plead, fifth, mob, bet, theres, l...

[500 rows x 2 columns]

In [17]:
df_left_string

                                               comment
0    go like bank commit fraud money launder fine a...
1               fact people vote human ball phlegm sad
2    good sick hearing founder u notorious terroris...
3    really hope smart enough raise number justice ...
4            trumpistas guy one bad rot prison mrdejoy
..                                                 ...
495  take year serious change make make permanently...
496  surprising worship hitler give condition hitle...
497  masterclass trumpet gaetz get investigate defl...
498  think need limit military training police get ...
499  trump say plead fifth mob bet theres lot fifth...

[500 rows x 1 columns]

In [18]:
df_right_meme_500

     Unnamed: 0                                            comment
0           351  [sex, offender, attack, teen, boy, hmm, wonder...
1            49  [people, still, think, trump, supporter, viole...
2           251  [imagine, stupid, evil, enough, judge, people,...
3           556  [must, around, seattle, capital, hill, giant, ...
4           269  [wtf, nonsense, year, ago, clinton, say, marri...
..          ...                                                ...
495         107  [quite, ironic, ben, jerys, bernie, sander, fl...
496         257           [tiktok, parasitic, funny, reddits, ceo]
497         245  [im, really, glad, trump, leave, state, really...
498         544                [almost, choke, drink, laugh, hard]
499          58  [born, raise, texas, republican, terrible, gen...

[500 rows x 2 columns]

In [19]:
df_right_meme_string

                                               comment
0    sex offender attack teen boy hmm wonder could ...
1       people still think trump supporter violent one
2    imagine stupid evil enough judge people party ...
3    must around seattle capital hill giant homeles...
4    wtf nonsense year ago clinton say marriage man...
..                                                 ...
495  quite ironic ben jerys bernie sander flavor ic...
496                 tiktok parasitic funny reddits ceo
497  im really glad trump leave state really outed ...
498                      almost choke drink laugh hard
499  born raise texas republican terrible generaliz...

[500 rows x 1 columns]

In [20]:
df_left_meme_500

     Unnamed: 0                                            comment
0           266   [greene, boebert, would, strip, clearance, good]
1           103    [former, drug, tycoon, somehow, normal, person]
2            11               [replace, bidens, trump, even, true]
3             2  [could, anyone, see, vote, republican, vote, a...
4            27  [case, iraq, even, full, decade, ago, partiall...
..          ...                                                ...
495         146  [hooray, representation, im, glad, amaze, show...
496         133  [there, alarm, amount, antigay, politician, tu...
497         194  [clear, already, afghan, govt, prison, timethe...
498         284  [joke, really, awful, think, badway, fo, direc...
499           7  [ultimately, class, divide, people, far, natio...

[500 rows x 2 columns]

In [21]:
df_left_meme_string

                                               comment
0            greene boebert would strip clearance good
1             former drug tycoon somehow normal person
2                       replace bidens trump even true
3         could anyone see vote republican vote acquit
4    case iraq even full decade ago partially occup...
..                                                 ...
495  hooray representation im glad amaze show like ...
496  there alarm amount antigay politician turn gay...
497  clear already afghan govt prison timethe talib...
498  joke really awful think badway fo direct trans...
499  ultimately class divide people far nationality...

[500 rows x 1 columns]

In [22]:
df_right_string.to_csv("final-500-right-comments-string.csv")
df_left_string.to_csv("final-500-left-comments-string.csv")
df_right_meme_string.to_csv("final-500-right-meme-comments-string.csv")
df_left_meme_string.to_csv("final-500-left-meme-comments-string.csv")